<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/dashboard.css">


</head>
<body>
    <div class="container">
        <h1>Welcome to your Dashboard</h1>
        <p><strong>Welcome back, </strong> {{ username }}</p>
        <form class="project-form" action="/add_project" method="post">
            <input type="text" name="project_name" placeholder="Project Name" required>
            <button type="submit">Generate Token</button>
        </form>
<table>
    <tr>
        <th>Project Name</th>
        <th>Token</th>
        <th>Uses</th>
        <th>Action</th>
    </tr>
    {% for project, token, uses in projects %}
    <tr>
        <td>{{ project }}</td>
        <td>{{ token }}</td>
        <td>{{ uses }}</td>
        <td>
            <form action="/delete_project" method="post" style="display:inline;">
                <input type="hidden" name="project_name" value="{{ project }}">
                <button type="submit">Delete</button>
            </form>
        </td>
    </tr>
    {% endfor %}
</table>
        <button class="logout-button" onclick="window.location.href='/logout'">Logout</button>
    </div>
</body>
</html>