<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
</head>
<body>
    <header>
            <nav><ul><li><a href="/" style="font-size: 30px">Protobase</a></li></ul></nav>
        <nav>
            <ul>
<li>{% if username %}<a href="/profile">Welcome back, {{ username }}</a>{% else %}<a href="/get-started">Sign In</a>{% endif %}</li>


                <li><a href="/">Home</a></li>
                <li><a href="/docs">Documentation</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Welcome to your Dashboard</h1>
        <p><strong>Welcome back, </strong> {{ username }}</p>
        <div class="tiles">
            <div class="tile" onclick="window.location.href='/profile'">
                <i class="fas fa-user"></i>
                <p>Profile</p>
            </div>
            <div class="tile" onclick="window.location.href='/databases'">
                <i class="fas fa-database"></i>
                <p>Databases</p>
            </div>
            <div class="tile" onclick="window.location.href='/projects'">
                <i class="fas fa-project-diagram"></i>
                <p>Projects</p>
            </div>
            <div class="tile" onclick="window.location.href='/new_project'">
                <i class="fas fa-add"></i>
                <p>Add new project</p>
            </div>
        </div>
        <button class="logout-button" onclick="window.location.href='/logout'"><i class="fas fa-sign-out-alt"></i> <strong> Logout</strong></button>
    </div>
</body>
</html>