<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Databases</title>
    <link rel="stylesheet" href="/static/main.css">
    <link rel="stylesheet" href="/static/fontawesome/css/all.min.css">
</head>
<body>
    <header>
            <nav><ul><li><a href="/" style="font-size: 30px">Protobase</a></li></ul></nav>
        <nav>
            <ul>
<li>{% if username %}<a href="/profile">Welcome back, {{ username }}</a>{% else %}<a href="/get-started">Sign In</a>{% endif %}</li>
                            <li><a href="/dashboard">Dashboard</a></li>

                <li><a href="/projects">Projects</a></li>
                <li><a href="/new_project">New Project</a></li>
                <li><a href="/docs">Documentation</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h1>Your Databases</h1>
        <div class="tiles">
            {% for project in projects %}
            <div class="tile" onclick="window.location.href='/db_crud/{{ project }}'">
                <i class="fas fa-database"></i>
                <p>{{ project }}</p>
            </div>
            {% endfor %}
        </div>
        <button class="logout-button" onclick="window.location.href='/dashboard'"><i class="fas fa-backward"></i> <strong> Back</strong></button>
    </div>
</body>
</html>