<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="../static/getstarted.css">
</head>
<body>
    <header>
            <nav><ul><li><a href="/" style="font-size: 30px">Protobase</a></li></ul></nav>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/docs">Documentation</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="form-container">
            <h2>Forgot Password</h2>
            <form id="forgotPasswordForm">
                <input type="email" id="email" placeholder="Email" required>
                <button type="submit" class="btn">Send Reset Mail</button>
                <div id="output" class="output"></div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('forgotPasswordForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const email = document.getElementById('email').value;

            fetch('/forgot_password', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ email: email })
            }).then(response => response.json()).then(data => {
                document.getElementById('output').innerText = data.message;
            }).catch(error => {
                document.getElementById('output').innerText = 'Failed to send reset email. Please try again.';
            });
        });
    </script>
</body>
</html>