<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ProtoBase - Get Started</title>
    <link href="https://fonts.googleapis.com/css2?family=Monospace:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/getstarted.css">
</head>
<body>
    <header>
        <h1>ProtoBase</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/docs">Documentation</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="form-container" id="sign-in-form">
            <h2>Sign In</h2>
            <form id="signinForm">
                <input type="text" id="signinUsername" placeholder="Username">
                <input type="password" id="signinPassword" placeholder="Password">
                <button type="submit" class="btn">Sign In</button>

                <div id="signinOutput" class="output"></div>
            </form>
            <p>New here? <a href="#" onclick="showSignUp()">Sign up</a></p>
            <p><a href="/forgot_password">Forgot Password ?</a></p>


        </div>

        <div class="form-container hidden" id="sign-up-form">
            <h2>Sign Up</h2>
            <form id="signupForm">
                <input type="text" id="email" placeholder="Email">
                <input type="text" id="signupUsername" placeholder="Username">
                <input type="password" id="signupPassword" placeholder="Password">
                <input type="text" id="otp" placeholder="OTP" class="hidden">
                <button type="button" class="btn" id="sendOtpButton" onclick="sendOtp()">Send OTP</button>
                <button type="submit" class="btn hidden" id="signupButton">Sign Up</button>

                <div id="signupOutput" class="output"></div>
            </form>
            <p>Already have an account? <a href="#" onclick="showSignIn()">Sign in</a></p>
        </div>
    </div>

    <script src="../static/getstarted.js" charset="UTF-8"></script>

</body>
</html>