<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="stylesheet" href="../static/getstarted.css">
</head>
<body>
    <header>
        <h1>ProtoBase</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/docs">Documentation</a></li>
            </ul>
        </nav>
    </header>

    <div class="container">
        <div class="form-container">
            <h2>Reset Password for {{ username }}</h2>
            <form id="resetPasswordForm">
                <input type="password" id="password" placeholder="New Password" required>
                <input type="password" id="cnf_password" placeholder="Confirm New Password" required>

                <button type="submit" class="btn">Reset Password</button>
                <div id="output" class="output"></div>
            </form>
        </div>
    </div>

    <script>
        document.getElementById('resetPasswordForm').addEventListener('submit', function(event) {
            event.preventDefault();
            const password = document.getElementById('password').value;
            const cnf_password = document.getElementById('cnf_password').value;
            const username = "{{ username }}";

            fetch(`/reset_password/${username}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({ password: password, cnf_password: cnf_password })
            }).then(response => response.json()).then(data => {
                document.getElementById('output').innerText = data.message;
                window.location.href='/get-started'
            }).catch(error => {
                document.getElementById('output').innerText = "Some Error Occurred";
            });
        });
    </script>
</body>
</html>